.App {
  text-align: center;
  background-color: rgb(125, 155, 125);
  width:100%;
  height: 700px;
  position: relative;
  bottom: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#Btn{
  margin-top: 300px;
  border-radius: 50px;
  width: 200px;
  height: 70px;
  color: rgb(241, 239, 243);
  background-color: hotpink;
  border-color: azure;
}
#Btn:hover{
  background-color: royalblue;
  cursor: pointer;
}
.form{
  background-color: #61dafb;
  width: 300px;
  
}
.data{
  margin-top: 20px;
}